<div class="row" *ngIf="admin">
    <div class="col-2" style="margin-top: -4%;"  *ngFor="let file of admin.registerFiles">
        <ng-container  class="mr-3" *ngIf="fileType(file)!=='undefined'">
            <br>
         <a href="{{file.url}}" ><img class="filetype" src="{{fileType(file)}}" alt="Pdf Icon"> {{file.fileName}}</a>
    </ng-container>
 
    <ng-container *ngIf="fileType(file)==='undefined'" class="mr-3">
        <br>
         <a href="{{file.url}}" ><img class="filetype" src="assets/undefined_icon.png" alt="Undefined Icon"> {{file.fileName}}</a>
    </ng-container>
           <button class="btn btn-sm btn-danger button mb-0" (click)="deleteFile(file)"><i class="fa fa-trash"></i></button>
            <hr>
        </div>
    </div>
    <div class="mb-4">
        <label for="tabset" class="labelForTab"> <b>Select User Type to register</b></label>
    </div>
<tabset  type="pills" >
    <tab heading="Student" >
        
        <div *ngIf="admin">
            <app-register-by-file-student [admin]="admin"></app-register-by-file-student>    

        </div>
    </tab>
    <ng-container ></ng-container>
    <tab heading="Teacher" >
        <div *ngIf="admin">
            <app-register-by-file-teacher [admin]="admin"></app-register-by-file-teacher>
        </div>
    </tab>
  </tabset>


