<div *ngIf="course">
<form #quizForm="ngForm" id="quizForm" (ngSubmit)="setQuiz(time,definition)">
    <div>
        <ng-container >
        <label for="time"><b>Time:</b></label>
        <input type="text" [(ngModel)]="time" name="time" class="form-control">
        <label for="definition"><b>Definition:</b></label>
        <input type="text" name="definition" [(ngModel)]="definition" class="form-control">
         </ng-container>
         <div class="btn-group d-flex">
            <button [disabled]=" !quizForm.dirty " form="quizForm" class="btn btn-success btn-block"><i class="fa fa-floppy-o mr-2"></i>Set </button>
        </div>
    </div>
   </form> 
   <div *ngIf="quizForm.dirty && (definition!=='' && time!==undefined)">
        <app-quiz-uploader [time]="time" [definition]="definition" [course]="course"></app-quiz-uploader>
   </div>
</div>