input[type=file]::file-selector-button {
    border: 2px solid #f4f4f7d7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #d6d3e4;
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  img.img-thumbnail{
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over{
    border: dotted 3px blue;
}

input[type=file]{
    color: transparent;
}
.filetype{
    max-height: 50px;
}

a{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: blue;
    
}


 a {
    display: inline-block;
    vertical-align: top; /* Adjust if multi-line text */
    margin: 10px;
    padding: 5px;
    width: 120px;
    color: #333;
    text-align: center;
    text-decoration: none;
}
a img {
    display: block;
    margin: auto;
    border: 0;
}
a span {
    display: block;
}
.button_position{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 2px;
    vertical-align: top;
}
.form-group{
    width: 120px;
}

.selectbtn{
    position: relative;
    right: 20;
    bottom: 50;  
}
