<div *ngIf="student" class="row ">
    <div class="col-3">
      <div class="card ">
          <img src="{{student.photoUrl || './assets/user.png'}}" alt="{{student.name}}" class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Full Name:</strong>
                <p>{{student.name}} {{student.surname}}</p>
            </div>
            <div>
                <strong>Faculty:</strong>
                <p>{{student.faculty}}</p>
            </div>
            <div>
                <strong>Last Active:</strong>
                <p>{{student.lastActive}}</p>
            </div>
            <!-- <div>
                <strong>Student since:</strong>
                <p>{{student.created}}</p>
            </div> -->
        </div>
        <div class="card-footer">
            <div class="btn-group d-flex">
                <button class="btn btn-success"><i class="fa fa-comment mr-2"></i>Message</button>
                <button class="btn btn-danger"><i class="fa fa-trash mr-2"></i>Delete</button>

            </div>
        </div>
    </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" >
            <hr>
            <tab heading="About Student " class="text-center">
                <div id="containerIntro">
                    <h6>Full Name:</h6>
                    <p><small>{{student.name}} {{student.surname}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Faculty:</h6>
                    <p><small>{{student.faculty}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Student Number: </h6>
                    <p><small>{{student.stdNum}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Email:</h6>
                    <p><small>{{student.email}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Age:</h6>
                    <p><small>{{student.age}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Country:</h6>
                    <p><small>{{student.country}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Gender:</h6>
                    <p><small>{{student.gender}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Student since:</h6>
                    <p><small> {{student.created}}</small></p>
                </div>
            </tab>
            <tab heading="Courses"> 
                <h4 class="mt-3">Courses</h4>
                <b><p *ngFor="let course of student.courses" > {{course.nameOfCourse}} 
                    <i class="fa fa-arrows-h"></i> {{course.courseCode}}</p></b>
            </tab>
            <tab heading="Photos"> 
                <h4 class="mt-3">Photos will go here</h4>
            </tab>
            <tab heading="Messages"> 
                <h4 class="mt-3">Messages will go here</h4>
            </tab>
            <hr>
        </tabset>
    </div>
</div>