<div *ngIf="course">
    <div class="col-2" style="margin-top: -4%;"  *ngFor="let file of course.courseFiles">
        <ng-container class="mr-2">
            <br>
            <a href="{{file.url}}" ><img class="filetype mr-2" src="{{fileType(file)}}" alt="File Icon"> {{file.fileName}}</a>
        </ng-container>
        <ng-container *ngIf="fileType(file)==='undefined'" class=" mr-3">
            <br>
        <a href="{{file.url}}" ><img class="filetype" src="assets/undefined_icon.png" alt="Undefined Icon"><span> {{file.fileName}}</span></a>
        </ng-container>

        
        <div class="text-center" *ngIf="getUserType()==='Teacher'">
            <button class="btn btn-sm btn-danger mb-2 deletebutton" (click)="deleteFile(file)"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    
</div>