<div *ngIf="homeworks"> <table class="table">
    <tbody>
      <tr>
        <td >Submission Status</td>
        <td *ngIf="homeworks.length>0" class="table-success">Submitted</td>
        <td *ngIf="homeworks.length<=0" class="table-default">No attempt</td>
      </tr>
      <tr>
        <td>Grading Status</td>
        <td  class="table-default">Not graded</td>
      </tr>
      <tr>
        <td >Time remaining</td>
        <td >6 days 8 hours</td>
      </tr>
    </tbody>
  </table>

  <button *ngIf="homeworks.length<=0" class="btn btn-outline-info " style="margin-left: 40%;" routerLink="homework-upload">Add Submission</button>
  <button *ngIf="homeworks.length>0" class="btn btn-outline-info " style="margin-left: 40%;" routerLink="homework-upload">Edit Submission</button>

</div>
 