<div *ngIf="course" class="row ">
    <div class="col-3">
      <div class="card ">
          <img src="{{course.photoUrl || './assets/user.png'}}" alt="{{course.name}}" class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Course Name:</strong>
                <p>{{course.nameOfCourse}}</p>
            </div>
            <div>
                <strong>Course Code:</strong>
                <p>{{course.courseCode}}</p>
            </div>
            <div>
                <strong>Definition:</strong>
                <p><small>{{course.definition}}</small></p>
            </div>
            <!-- <div>
                <strong>Student since:</strong>
                <p>{{student.created}}</p>
            </div> -->
        </div>
        <div class="card-footer " >
            <div class="btn-group d-flex">
                <button class="btn btn-danger" *ngIf="getUserType()==='Admin'"><i class="fa fa-trash mr-2">
                </i>Delete </button>
                <button class="btn btn-success" routerLink="/courses/{{course.courseCode}}/edit" *ngIf="getUserType()==='Teacher'"><i class="fa fa-pencil mr-2">
                </i>Edit Course</button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-8">
        <!-- this is course tabset for admin -->
        <tabset class="member-tabset" > 
            <hr>
            <tab heading="Announcements"> 
                <h6 *ngIf="course.announcements.length===0">No announcements yet!</h6>
                <small class="mt-3" *ngFor="let announcement of course.announcements" ><ng-container *ngIf="!(announcement.announcement==='')">
                    {{announcement.announcement}}<br></ng-container> </small>
            </tab>
            <tab heading="Outline"> 
                <h4 class="mt-3">Outline will go here</h4>
            </tab>
            <tab heading="Lecture Notes"> 
                <app-lecture-notes></app-lecture-notes>
            </tab>
            <tab heading="Lecture Videos"> 
                <h4 class="mt-3">Lecture Videos will go here</h4>
            </tab>
            <tab heading="Additional Materials"> 
                <h4 class="mt-3">Additional Materials will go here</h4>
            </tab>
            <tab heading="Homeworks"> 
                <h4 class="mt-3">Homeworks will go here</h4>
            </tab>
            <tab heading="Midterms & quizzes"> 
                <h4 class="mt-3">Midterms & quizzes will go here</h4>
            </tab>
            <tab heading="Finals"> 
                <h4 class="mt-3">Finals will go here</h4>
            </tab>
            <ng-container *ngIf="getUserType==='Admin'">
                <tab heading="Instructors"> 
                    <h4 class="mt-3">Instructors will come here</h4>
                </tab>
                <tab heading="Students"> 
                    <h4 class="mt-3">Students will go here</h4>
                </tab>
            </ng-container>
            <tab heading="About Course" >
                <div id="containerIntro">
                    <h6>Course Name:</h6>
                    <p><small>{{course.nameOfCourse}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Course Code:</h6>
                    <p><small>{{course.courseCode}}</small></p>
                </div>
                <div id="containerIntro">
                    <h6>Definition: </h6> 
                    <p><small>{{course.definition}}</small></p>
                </div>
            </tab>
            <hr>
        </tabset>
    </div>

</div>