.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
}
.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

#containerIntro h6,
#containerIntro p {
    display: inline;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
.filetype{
    max-height: 50px;
    margin-bottom: 2%;
}
.deletebutton{
    position: relative;
    top: -10px;
    right: -305px;
    margin-left: 15px;
}
.focusbutton{
    position: relative;
    top: 29px;
    right: -633px;
}

.savebutton{
    position: relative;
    top: 60px;
    right: -49px;
    margin-left: 25px;
}
small p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.input {
    width: 85%;
    padding: 9px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: -70px;
  }