<div class="container mt-6" *ngIf="!registerMode">
    <div style="text-align: center; margin-top: 20%;" >
        <h1>Moodle for Faculty of Engineering</h1>
        <p class="lead">Online e-learning platform</p>
        <div class="text-center" *ngIf="(currentUser$ | async) && isAdmin()">
                <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()" >Register</button>
        </div>
        <div class="text-center"    *ngIf="!(currentUser$ | async)">
            <button class="btn btn-info btn-lg mr-2" >News</button>
            <button class="btn btn-success btn-lg" >More Info</button>
    </div>
    </div>
</div>

<div  *ngIf="registerMode && (currentUser$ | async) ">
        <app-register (cancelRegister)="registerModeCancel($event)" ></app-register>
</div>
