<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="https://prod-discovery.edx-cdn.org/media/course/image/52bf4539-6137-4968-9605-6c32414dcdc4-7e805a266b31.small.png"
             alt="{{course.nameOfCourse}}" class="card-img-top">
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
            {{course.nameOfCourse}} 
        </h6>
        <p class="card-text text-muted text-center">{{course.courseCode}}</p>
    </div>
    
</div>