
<div *ngIf="course" class="row ">
    <div class="col-4">
        <h1>Course Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty ">
            <strong>Information:</strong> You have made changes. Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-3">
      <div class="card ">
          <img src="{{course.photoUrl || 'https://prod-discovery.edx-cdn.org/media/course/image/52bf4539-6137-4968-9605-6c32414dcdc4-7e805a266b31.small.png'}}" 
          alt="{{course.nameOfCourse}}" class="card-img-top img-thumbnail">
          <div class="card-body">
            <div>
                <strong>Course Name:</strong>
                <p>{{course.nameOfCourse}}</p>
            </div>
            <div>
                <strong>Course Code:</strong>
                <p>{{course.courseCode}}</p>
            </div>
            <div>
                <strong>Definition:</strong>
                <p><small>{{course.definition}}</small></p>
            </div>
            <!-- <div>
                <strong>Student since:</strong>
                <p>{{student.created}}</p>
            </div> -->
        </div>
        <div class="card-footer">
            <div class="btn-group d-flex">
                <button [disabled]=" !editForm.dirty " form="editForm" class="btn btn-success btn-block"><i class="fa fa-floppy-o mr-2"></i>Save Changes</button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" >
            <hr>
            <tab heading="Course Details " >
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateCourse()">
                <div id="containerIntro">
                <div>
                    <ng-container *ngIf="getUserType()==='Admin'">
                    <label for="name"><b>Course Name:</b></label>
                    <input type="text" [(ngModel)]="course.nameOfCourse" name="nameOfCourse" class="form-control">
                    <label for="surname"><b>Course Code:</b></label>
                    <input type="text" name="courseCode" [(ngModel)]="course.courseCode" class="form-control">
                </ng-container>
                    <ng-container *ngIf="getUserType()==='Admin' || getUserType()==='Teacher'">
                    <label for="faculty"><b>Definition:</b></label>
                    <input type="text" name="definition" [(ngModel)]="course.definition" class="form-control">
                    
                     </ng-container>
                </div>
                </div>        
            </form>
            </tab>
            <tab  heading="Announcements" *ngIf="getUserType()==='Teacher'"> 
                <app-lecture-announcements [course]="course" [usertype]="getUserType()"></app-lecture-announcements>
            </tab>
            <tab heading="Edit Files" class="text-center mt-3" *ngIf="getUserType()==='Teacher'"> 
                <app-file-uploader [course]="course"></app-file-uploader>
            </tab>
            <tab heading="Edit Videos" class="text-center mt-3" *ngIf="getUserType()==='Teacher'"> 
                <app-video-upload [course]="course"></app-video-upload>
            </tab>
            <tab heading="Edit Quiz" class="text-center mt-3" *ngIf="getUserType()==='Teacher'"> 
                <app-quiz-set [course]="course"></app-quiz-set>
            </tab>
            <hr>
        </tabset>
    </div>
</div>